<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head></head>
  <body>
    <p>Hey {{ Name }}!</p>
    <p>Ship wants to send you notifications about the activity of this app:</p>
    <p>{{ AppTitle }}</p>
    <p>Notification Settings:</p>
    <p>New Version: {{ NewVersion }}</p>
    <p>Successful Publish: {{ SuccessfulPublish }}</p>
    <p>Failed Publish: {{ FailedPublish }}</p>
    <a href="{{ URL }}">Confirm Notifications</a>

    <p>If you don’t want to get notifications from this app, just forget this email.</p>
  </body>
</html>
